@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{  margin: 0 auto;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
     width: 100%;
     overflow-x: hidden;
    color: #FFFFFF;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  
  
}

/* header section */
.header {
  
  top: 0;
  background: #1A0B2E;
  border-bottom: 1px solid rgba(65, 37, 103, 1);
  width: 100vw;
  max-width: 100%;
}
.logo{
    font-size: 32px;
    color: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    font-weight: bolder;
}
/* .logo span{
    color: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    
    /* color: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8); */
.gradient-text{
    background: linear-gradient(50deg, #F7E93F, #FB09B4, #9100F8);
     color: transparent;
    background-clip: text;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  /* gap: 100px; */
}
.nav-menu {
  display: flex;
  list-style: none;
  gap: 32px;
}
.nav-menu a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 120px;
}
.humburger{
    font-size: 32px;
    display: none;
}
.btn-primary{
     background: linear-gradient(50deg, #F7E93F, #FB09B4, #9100F8);
     padding: 16px 20px;
     color: #FFFFFF;
     /* width: 135px;
     height: 44px; */
     border: none;
     border-radius: 30px;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}
/* banner section */
.banner{
    background: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    min-height: 70vh;
    background-position: center center;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    width: 100%;
}

.circle{
    position: relative;
}
.img-1{
   position: relative;
   width: 350px;
   height: 350px;
}
.img-2{
  width: 200px;
   height: 200px;
    z-index: 1;
    top: -260px;
     position: relative;
}
.badge {
  width: 75px;
  height: 38px;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* right: 650px; */
  margin-top: 20px;
  margin-left: 80px;
  background: #00FF88;
  color: #1A0B2E;
  padding: 8px 8px;
  font-size: 18px;
  border-radius: 12px;
  z-index: 2;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}
.banner-content h1{
    font-size: 60px;
    font-weight: 800;
}
.banner-text{
    margin-top: -60px;
}
.banner-text p{
    font-size: 16px;
}
.banner-btn{
    gap: 20px;
    margin-top: 30px;
}
.btn-outline {
  background: transparent;
  border: 1px solid #00FF88;
  color: #00FF88;
  padding: 16px 20px;
  border-radius: 30px;
   cursor: pointer;
}
.btn-primary-2{
     background: linear-gradient(50deg, #F7E93F, #FB09B4, #9100F8);
     padding: 16px 20px;
     color: #FFFFFF;
     /* width: 135px;
     height: 44px; */
     border: none;
     border-radius: 30px;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}
/* about section */
.about {
  background-color: #1A0B2E;
  padding: 50px 0;
  text-align: center;
}
.about h2{
  font-size: 48px;
  font-weight: bold;
  font-weight: 700;
  padding-bottom: 16px;
}
.about p{
  font-size: 16px;
  line-height: 20px;
}
.about hr{
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid rgba(65, 37, 103, 1);
}

.about-cards {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 50px;
  margin-top: 40px;
}

.abt-card h3 {
  font-size: 28px;
  color: #00FF88;
  padding-bottom: 10px;
}
.abt-card p{
  font-size: 16px;
  line-height: 20px;
}
/* feature section */
.features {
  background-color: #230E3D;
  padding: 50px 0;
  text-align: center;
}
.features h2{
font-style: Bold;
font-size: 48px;
font-weight: 700;
padding-top: 40px;
padding-bottom: 40px;
}
.feature-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding-left: 100px;
  padding-right: 100px;


}
.card {
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  border-radius: 20px;
  text-align: start;
  align-items: center;
}
/* .card img{
  height: 60px;
  width: 60px;
} */
 .card h3{
font-style: Bold;
font-size: 24px;
font-weight: 700;
line-height: 29px;
padding: 16px 0;
 }
 .card p{
  font-size: 16px;
 }
.one{
  
  grid-column: span 1;
  grid-row: span 2;
}
.two{
  
  grid-column: span 2;
  grid-row: span 1;

}
.three{
  grid-column: span 2;
  grid-row: span 1;
  padding: 40px 65px;

}
.four{
  grid-column: span 2;
  grid-row: span 1;
}
.five{
  grid-column: span 1;
  grid-row: span 1;
}
/* Episodes section */

.episodes {
  background-color: #1A0B2E;
  padding: 50px 0;
  

}
.episode-container{
 max-width: 70%;
}

.episode-grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  
}
.episode{
  background-color: #250D44;
  border-radius: 10px;
}

.episode iframe {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}



@media (max-width: 576px) {
  .nav-menu,
  .btn-primary {
    display: none;
  }

  .humburger {
    display: inline-block;
  }
    body {
    overflow-x: hidden;
  }

   .banner{
    
    background-size: contain,
  }
  .banner .container {
    padding-left: 0;
    padding-right: 0;
  }


  .banner-content h1{
    font-size: 32px;
  }

  .banner-text{
    margin-top: -20px;
  }

  .banner-text p{
    font-size: 14px;
    padding: 0 15px;
  }
  .banner-btn{
    margin-bottom: 20px;
  }

  
   .about-cards {
    grid-template-columns: repeat(2, 1fr);
    
  }

  .feature-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding-left: 0;
    padding-right: 0;
  }
  
  .three{
    padding: 30px;
  } 
  .episode-grid {
    grid-template-columns: 1fr;
  }
  
}
@media (min-width:576px) and (max-width:992px) {
  .nav-menu {
    gap: 20px;
  }

  .btn-primary {
    padding: 8px 16px;
    font-size: 14px;
  }
  .circle{
    position: relative;
    padding-top: 50px;
}
  
 .badge{
   margin-top: 50px;
 }
 .about-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .episode-grid {
    grid-template-columns: repeat(2,1fr);
  }
  
}



    