@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{  margin: 0 auto;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
     width: 100%;
     overflow-x: hidden;
    color: #FFFFFF;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* header section */
.header {
  position: sticky;
  top: 0;
  background: #1A0B2E;
  border-bottom: 1px solid rgba(65, 37, 103, 1);
}
.logo{
    font-size: 32px;
    color: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    font-weight: bolder;
}
/* .logo span{
    color: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    
    /* color: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8); */
.gradient-text{
    background: linear-gradient(50deg, #F7E93F, #FB09B4, #9100F8);
     color: transparent;
    background-clip: text;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  /* gap: 100px; */
}
.nav-menu {
  display: flex;
  list-style: none;
  gap: 32px;
}
.nav-menu a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 120px;
}
.humburger{
    font-size: 32px;
    display: none;
}
.btn-primary{
     background: linear-gradient(50deg, #F7E93F, #FB09B4, #9100F8);
     padding: 16px 20px;
     color: #FFFFFF;
     /* width: 135px;
     height: 44px; */
     border: none;
     border-radius: 30px;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}
/* banner section */
.banner{
    background: url("../images/hero-bg.png");
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center center;
    background-size: cover;
    
    padding: 100px 0;
    width: 100%;
}
.banner-content{
  height: 558px;
  width: 550px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.circle{
    position: relative;
}

.img-2{
    z-index: 1;
    top: -260px;
     position: relative;
}
.badge {
  width: 75px;
  height: 38px;
  justify-content: center;
  align-items: center;
  position: absolute;
  /* right: 650px; */
  margin-top: 20px;
  margin-left: 80px;
  background: #00FF88;
  color: #1A0B2E;
  padding: 8px 8px;
  font-size: 18px;
  border-radius: 12px;
  z-index: 2;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}
.banner-content h1{
    font-size: 60px;
    font-weight: 800;
}
.banner-text{
    margin-top: -60px;
}
.banner-text p{
    font-size: 16px;
}
.banner-btn{
    gap: 20px;
    margin-top: 30px;
}
.btn-outline {
  background: transparent;
  border: 1px solid #00FF88;
  color: #00FF88;
  padding: 16px 20px;
  border-radius: 30px;
   cursor: pointer;
}
.btn-primary-2{
     background: linear-gradient(50deg, #F7E93F, #FB09B4, #9100F8);
     padding: 16px 20px;
     color: #FFFFFF;
     /* width: 135px;
     height: 44px; */
     border: none;
     border-radius: 30px;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}









































@media (max-width: 576px) {
  .nav-menu,
  .btn-primary {
    display: none;
  }

  .humburger {
    display: inline-block;
  }
    body {
    overflow-x: hidden;
  }

   .banner{
    background-size: auto 100%;
  }
  .banner .container {
    padding-left: 0;
    padding-right: 0;
  }


  .banner-content h1{
    font-size: 32px;
  }

  .banner-text{
    margin-top: -20px;
  }

  .banner-text p{
    font-size: 14px;
    padding: 0 15px;
  }
  .banner-btn{
    margin-bottom: 20px;
  }

  /* .img-2{
    top: -120px;
    width: 220px;
  } */

  /* .badge{
    width: 60px;
    height: 30px;
    font-size: 14px;
    margin-left: 50px;
    margin-top: 10px;
  } */

  
}
@media (min-width:576px) and (max-width:992px) {
  .nav-menu {
    gap: 20px;
  }

  .btn-primary {
    padding: 8px 16px;
    font-size: 14px;
  }
}



    